.dropstart {
    button {
        padding: 5px 12px;
        height: 33px;
        width: 33px;
        font-size: 14px;
        border-radius: 50%;

        background-color: var(--white);
        border: 1px solid var(--border-color);
        color: var(--gray-900);

        &::before {
            content: '\22EE' !important;

            margin-right: 0 !important;
            vertical-align: 0.255em;
            border-top: 0 solid transparent !important;
            border-right: 0 solid !important;
            border-bottom: 0 solid transparent !important;
        }
    }
}
